<div class="container">
  <h3 class="text-center">Register</h3>
  <hr />
  <form #regierForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="userName"
        placeholder=""
        [(ngModel)]="model.userName"
        name="userName"
      />
      <label for="userName">User Name</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder=""
        [(ngModel)]="model.email"
        name="email"
      />
      <label for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder=""
        [(ngModel)]="model.password"
        name="password"
        autocomplete
      />
      <label for="password">Password</label>
    </div>

    <div class="d-flex gap-3 justify-content-end">
      <button type="button" class="btn btn-light" (click)="cancel()">
        <i class="fa-solid fa-ban"></i>
        Cancel
      </button>
      <button type="submit" class="btn btn-primary">
        <i class="fa-regular fa-paper-plane"></i>
        Submit
      </button>
    </div>
  </form>
</div>
