<div class="w-100 m-auto container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal">Please login</h1>
    <div class="form-floating mb-3">
      <input
        class="form-control"
        id="userName"
        placeholder=""
        name="userName"
        [(ngModel)]="model.userName"
      />
      <label for="userName">User Name</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder=""
        name="password"
        [(ngModel)]="model.password"
      />
      <label for="password">Password</label>
    </div>
    <!-- <div class="form-check text-start my-3">
      <input class="form-check-input" type="checkbox" value="remember-me" id="checkDefault" />
      <label class="form-check-label" for="checkDefault"> Remember me </label>
    </div> -->
    <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2025</p>
  </form>
</div>
